.loginScreen{
    position: relative;
    height: 100%;
}

.loginScreen_background{

}

.loginScreen_logo{
    position: fixed;
    width: 150px;
    left: 0;
    object-fit: contain;
    padding-left: 20px;
}