.signupScreen{
    max-width: 300px;
    padding: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,0.85);
}

.signupScreen h1{
    text-align: left;
    margin-bottom: 25px;
}

.signupScreen h4{
    margin-top: 15px;
}

.signupScreen_grey{
    color: grey;
}

.signupScreen_link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.signupScreen_form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.signupScreen_form input{
    padding: 5px 15px;
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border: none;
    max-width: 600px;
    border-radius: 5px;
}

.signupScreen_form button{
    padding: 16px 20px;
    color: #fff;
    border:none;
    background-color: #e50914;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}